body {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsla(217, 100%, 50%, 1);

  background: linear-gradient(
    90deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(217, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1 );
}
.container {
  position: relative;
  display: flex;
  width: 21rem;
  padding: 30px;
  flex-direction: column;
  gap: 15px;
  background-color: lightblue;
  border-radius: 3%;
}
#log-tag {
  text-align: center;
  margin-bottom: 20px;
}
input{
  background: transparent;
  border: none;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
  outline: none;
}
img{
  position: absolute;
  width: 1rem;
  height: 1rem;
  right: 12%;
  top: 41%;
  cursor: pointer;
}
#image1{
  top: 55.5%;
}
.log-img{
  top: 48%;
}
#sub{
  display: flex;
  justify-content: center;
}
